@using MySharedResources = mm_contest.Web.Resources._LayoutResources
@using MyResources = mm_contest.Web.Resources._MessageResources
@using MyProperties = mm_contest.Properties.Settings

@{
    ViewBag.Title = MyResources.ContestClosed_PageTitle;
    ViewBag.Content = @MyResources.ContestClosed_Message.Replace("[admin@email.com]", @MyProperties.Default.AdminEmail);
    ViewBag.Content = @ViewBag.Content.Replace("[Contest-End-Date]", @MyProperties.Default.ContestCloseDate.ToString());
    ViewBag.Content = @ViewBag.Content.Replace("[Contest-Name]", @MySharedResources.SiteTitle);
}

<div id="message-block">
    <h1>@MyResources.WeAreSorry</h1>
    <p>@Html.Raw(ViewBag.Content)</p>
</div>
